nohup.out

*.swl
*.swp
*.swo
*.swn
*.swm
*.orig

*.pyc

.bundle
.irb-history
.ruby-*
.bash_history
.lesshst
.viminfo
.DS_Store

/tmp/*

/docker/build/Dockerfile.*
/docker/build/compose-*.yml

/mk/Makefile.cfg.local
