nohup.out

*.swl
*.swp
*.swo
*.swn
*.swm
*.orig

*.pyc

.bundle
.irb-history
.ruby-gemset
.bash_history
.lesshst
.viminfo
.DS_Store

/tmp/*

/db/*schema.rb
/db/*structure.sql
/db/*development_structure.sql

/docker/build/Dockerfile.*
/docker/build/compose-*.yml

/dev/*
/log/*
/coverage

/public/deploy
/public/assets

vendor/ruby
vendor/bundle
vendor/cache/*
!vendor/cache/*.gem
